In [2]:
import pandas as pd, numpy as np, pytz

In [2]:
df_caiso = pd.read_csv('originals/CAISO_gen_lmp.csv')

In [3]:
df_isone = pd.read_csv('originals/ISONE_lmp_gen_2013_2020.csv')

In [4]:
df_nyiso = pd.read_csv('originals/NYISO_prc_gen.csv')

In [5]:
df_pjm = pd.read_csv('originals/PJM_GEN_LMP.csv')

In [6]:
df_spp = pd.read_csv('originals/SPP_gen_ene_2019_20.csv')

In [7]:
df_miso = pd.read_csv('originals/df_MISO_ENE_GEN_2015_19.csv')

## CAISO

In [8]:
df_caiso.columns

Index(['INTERVALSTARTTIME_GMT', 'INTERVALENDTIME_GMT', 'lmp_NP15', 'lmp_SP15',
       'lmp_ZP26', 'solar_NP15', 'solar_SP15', 'solar_ZP26', 'wind_NP15',
       'wind_SP15', 'MW', 'tot_renew_allzones', 'perc_renew',
       'avg_lmp_allzones'],
      dtype='object')

In [9]:
df_caiso

,INTERVALSTARTTIME_GMT,INTERVALENDTIME_GMT,lmp_NP15,lmp_SP15,lmp_ZP26,solar_NP15,solar_SP15,solar_ZP26,wind_NP15,wind_SP15,MW,tot_renew_allzones,perc_renew,avg_lmp_allzones
0,2017-07-01T00:00:00-00:00,2017-07-01T00:05:00-00:00,25.87312,25.87312,25.87312,976.11,5347.35,1221.48,951.83,1105.09,51751.94,9601.86,0.185536,25.87312
1,2017-07-01T00:05:00-00:00,2017-07-01T00:10:00-00:00,25.48679,25.48679,25.48679,968.88,5267.87,1206.46,950.97,1125.49,51623.25,9519.67,0.184407,25.48679
2,2017-07-01T00:10:00-00:00,2017-07-01T00:15:00-00:00,23.48585,23.48585,23.48585,959.19,5172.97,1187.29,961.86,1213.18,51149.75,9494.49,0.185621,23.48585
3,2017-07-01T00:15:00-00:00,2017-07-01T00:20:00-00:00,23.47865,23.47865,23.47865,950.65,5114.74,1170.87,960.03,1232.48,51029.34,9428.77,0.184772,23.47865
4,2017-07-01T00:20:00-00:00,2017-07-01T00:25:00-00:00,23.34585,23.34585,23.34585,934.29,4991.61,1150.75,984.47,1328.42,50730.99,9389.54,0.185085,23.34585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317980,2020-08-30T22:35:00-00:00,2020-08-30T22:40:00-00:00,22.85413,22.85413,22.85413,1369.22,6895.90,1529.78,123.90,88.35,67473.70,10007.15,0.148312,22.85413
317981,2020-08-30T22:40:00-00:00,2020-08-30T22:45:00-00:00,24.55079,24.55079,24.55079,1363.38,6652.25,1522.04,123.49,89.69,67666.08,9750.85,0.144102,24.55079
317982,2020-08-30T22:45:00-00:00,2020-08-30T22:50:00-00:00,27.45078,27.45078,27.45078,1355.79,6579.23,1507.68,132.66,98.19,68063.01,9673.55,0.142126,27.45078
317983,2020-08-30T22:50:00-00:00,2020-08-30T22:55:00-00:00,26.66262,26.66262,26.66262,1348.31,6540.27,1494.62,138.26,102.20,68044.55,9623.66,0.141432,26.66262
317984,2020-08-30T22:55:00-00:00,2020-08-30T23:00:00-00:00,24.13708,24.13708,24.13708,1341.22,6517.93,1474.15,141.77,106.38,67610.33,9581.45,0.141716,24.13708

In [10]:
df_caiso['INTERVALSTARTTIME_GMT'] = pd.to_datetime(df_caiso['INTERVALSTARTTIME_GMT'])

In [11]:
df_caiso = df_caiso.rename(columns={'INTERVALSTARTTIME_GMT':'date'})

In [12]:
df_caiso = df_caiso[['date','lmp_NP15', 'solar_NP15', 'solar_SP15', 'solar_ZP26', 'wind_NP15',
       'wind_SP15', 'MW', 'tot_renew_allzones']]

In [13]:
df_caiso['hour'] = df_caiso.date.dt.hour
df_caiso['date'] = df_caiso.date.dt.date
df_caiso['date_time']  = pd.to_datetime([str(i)  + ' ' + str(j) + ':00:00' for i,j in zip(df_caiso['date'], df_caiso['hour'])])
df_caiso = df_caiso.groupby(by = ['date_time']).mean()

In [14]:
df_caiso = df_caiso.rename(columns= {'tot_renew_allzones': 'vre', 'MW': 'output'})
df_caiso['perc_renew']  = df_caiso.vre/df_caiso.output

In [15]:
df_caiso = df_caiso.reset_index()
df_caiso = df_caiso.rename(columns={'lmp_NP15':'sys_prc', 'date_time': 'Date'})

In [16]:
df_caiso

,Date,sys_prc,solar_NP15,solar_SP15,solar_ZP26,wind_NP15,wind_SP15,output,vre,hour,perc_renew
0,2017-07-01 00:00:00,25.007203,910.591667,4804.093333,1110.662500,1004.646667,1380.096667,51315.832500,9210.090833,0,0.179479
1,2017-07-01 01:00:00,28.979866,651.702500,2871.756667,721.247500,1008.174167,1746.847500,50573.045833,6999.728333,1,0.138408
2,2017-07-01 02:00:00,27.770679,239.404167,640.920000,217.182500,961.092500,2001.572500,47473.132500,4060.171667,2,0.085526
3,2017-07-01 03:00:00,25.641688,31.759167,36.115000,6.233333,1098.376667,2345.566667,45321.023333,3518.050833,3,0.077625
4,2017-07-01 04:00:00,23.717010,2.325833,0.000000,0.016667,1173.661667,2372.881667,43619.060000,3548.885833,4,0.081361
...,...,...,...,...,...,...,...,...,...,...,...
26602,2020-08-30 18:00:00,5.522145,1402.014167,7573.288333,1655.554167,257.289167,26.750000,55580.340833,10914.895833,18,0.196381
26603,2020-08-30 19:00:00,17.407851,1393.218333,7624.944167,1683.818333,177.170000,38.388333,58195.955833,10917.539167,19,0.187600
26604,2020-08-30 20:00:00,18.622393,1392.070833,7672.326667,1683.696667,103.778333,48.694167,61709.955000,10900.566667,20,0.176642
26605,2020-08-30 21:00:00,19.282989,1398.864167,7542.479167,1650.836667,71.963333,72.818333,64121.664167,10736.961667,21,0.167447
26606,2020-08-30 22:00:00,22.472973,1374.144167,6936.560000,1547.890833,117.615833,88.210833,66880.825833,10064.421667,22,0.150483

In [17]:
df_caiso.to_csv('hourly_data/caiso.csv')

## ISONE

In [18]:
df_isone = pd.read_csv('originals/ISONE_lmp_gen_2013_2020.csv')

In [19]:
df_isone.columns

Index(['Date', 'hour', 'COAL', 'HYDRO', 'GAS', 'NUCLEAR', 'OIL', 'LANDFILL',
       'REFUSE', 'WIND', 'SOLAR', 'OTHER', 'TOTAL', 'CongestionComponent',
       'EnergyComponent', 'LmpTotal', 'Location.$', 'Location.@LocId',
       'Location.@LocType', 'LossComponent'],
      dtype='object')

In [20]:
df_isone = df_isone[['Date', 'hour','COAL', 'HYDRO', 'GAS', 'NUCLEAR', 'OIL', 'LANDFILL',
       'REFUSE', 'WIND', 'SOLAR', 'OTHER' , 'TOTAL',
       'EnergyComponent']]

In [21]:
df_isone['vre'] = df_isone[['WIND', 'SOLAR']].sum(axis=1)
df_isone = df_isone.rename(columns= {'TOTAL': 'output'})
df_isone['perc_renew']  = df_isone.vre/df_isone.output

In [22]:
# df_isone['perc_renew'] = df_isone[['WIND', 'SOLAR']].sum(axis=1)/ df_isone[['COAL', 'HYDRO', 'GAS', 'NUCLEAR', 'OIL', 'LANDFILL',
#        'REFUSE', 'WIND', 'SOLAR', 'OTHER']].sum(axis=1)

In [23]:
df_isone.describe()

,hour,COAL,HYDRO,GAS,NUCLEAR,OIL,LANDFILL,REFUSE,WIND,SOLAR,OTHER,output,EnergyComponent,vre,perc_renew
count,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000,51050.000000
mean,11.495083,252.613122,864.626286,5667.466933,3576.135894,81.508071,25.099894,364.498917,339.632506,12.225268,1.530037,11185.336928,34.435199,351.857774,0.033652
std,6.919856,411.649858,415.055589,2210.914036,696.026498,418.825123,8.156749,36.786076,244.104847,26.810241,4.639281,2467.805254,36.097041,246.476802,0.025783
min,0.000000,0.000000,185.142857,865.750000,857.500000,-0.760000,-0.057143,200.400000,-2.471429,0.000000,0.000000,5324.250000,-156.860000,-2.471429,-0.000168
25%,6.000000,1.272727,540.000000,4015.000000,3329.603125,0.000000,26.000000,341.428571,139.500000,0.000000,0.000000,9359.785714,18.920000,151.725568,0.013343
50%,11.000000,76.666667,826.687143,5443.773684,3974.000000,0.000000,28.000000,367.500000,290.800000,0.250000,0.000000,11004.071429,25.850000,301.714286,0.027397
75%,17.000000,287.000000,1122.825000,6884.562500,4016.200000,7.250000,29.000000,391.333333,492.250000,10.800000,0.000000,12539.660714,39.430000,503.156250,0.048037
max,23.000000,2068.700000,2606.333333,14713.750000,4628.916667,6281.750000,38.400000,464.762500,1148.800000,218.857143,263.250000,23201.375000,2446.710000,1300.000000,0.176447

In [24]:
df_isone = df_isone.rename(columns={'EnergyComponent':'sys_prc'})

In [25]:
df_isone.to_csv('hourly_data/isone.csv', index=False)

## NYISO

In [26]:
df_nyiso = pd.read_csv('originals/NYISO_prc_gen.csv')

In [27]:
df_nyiso

,Date,CAPITL,CENTRL,DUNWOD,GENESE,H Q,HUD VL,LONGIL,MHK VL,MILLWD,...,O H,PJM,WEST,Dual Fuel,Hydro,Natural Gas,Nuclear,Other Fossil Fuels,Other Renewables,Wind
0,2015-12-09 00:05:00,-29.05,-29.05,-29.05,-29.05,-29.05,-29.04,-29.05,-29.05,-29.05,...,-29.06,-29.05,-29.05,2809.0,2224.0,1903.0,4787.0,125.0,321.0,257.0
1,2015-12-09 00:10:00,-1.31,-1.30,-1.31,-1.30,-1.31,-1.31,-1.30,-1.31,-1.30,...,-1.30,-1.30,-1.30,2782.0,2055.0,1877.0,4790.0,132.0,317.0,244.0
2,2015-12-09 00:15:00,-0.53,-0.53,-0.53,-0.53,-0.53,-0.52,-0.52,-0.53,-0.53,...,-0.53,-0.53,-0.53,2754.0,1946.0,1863.0,4796.0,138.0,317.0,275.0
3,2015-12-09 00:20:00,0.65,0.65,0.65,0.65,0.64,0.65,0.64,0.64,0.65,...,0.65,0.65,0.64,2741.0,1819.0,1905.0,4795.0,142.0,317.0,285.0
4,2015-12-09 00:25:00,3.04,3.05,3.05,3.04,3.05,3.05,3.05,3.05,3.05,...,3.05,3.04,3.05,2661.0,1812.0,1919.0,4798.0,151.0,319.0,282.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520279,2020-10-31 06:00:00,16.21,16.21,16.21,16.20,16.20,16.21,16.20,16.21,16.21,...,16.21,16.21,16.20,2245.0,3066.0,2346.0,4397.0,1.0,215.0,63.0
520280,2020-10-31 06:05:00,14.94,14.94,14.93,14.94,14.94,14.93,14.94,14.94,14.93,...,14.94,14.94,14.94,2117.0,3068.0,2407.0,4399.0,1.0,229.0,63.0
520281,2020-10-31 06:10:00,9.40,9.40,9.40,9.41,9.40,9.40,9.39,9.41,9.39,...,9.41,9.40,9.40,2097.0,3080.0,2480.0,4397.0,1.0,231.0,61.0
520282,2020-10-31 06:15:00,19.74,19.74,19.75,19.74,19.74,19.74,19.74,19.74,19.74,...,19.74,19.74,19.74,2131.0,3027.0,2522.0,4398.0,1.0,231.0,57.0
520283,2020-10-31 06:30:00,-17.68,-17.68,-17.68,-17.68,-17.68,-17.68,-17.68,-17.68,-17.69,...,-17.68,-17.68,-17.68,2089.0,3176.0,2425.0,4397.0,1.0,227.0,17.0

In [28]:
df_nyiso.Date = pd.to_datetime(df_nyiso.Date)

In [29]:
df_nyiso['hour'] = df_nyiso.Date.dt.hour
df_nyiso['date'] = df_nyiso.Date.dt.date
df_nyiso['date_time']  = pd.to_datetime([str(i)  + ' ' + str(j) + ':00:00' for i,j in zip(df_nyiso['Date'], df_nyiso['hour'])])
df_nyiso = df_nyiso.groupby(by = ['date_time']).mean()

In [30]:
df_nyiso = df_nyiso[['CAPITL', 'Dual Fuel', 'Hydro', 'Natural Gas', 'Nuclear',
       'Other Fossil Fuels', 'Other Renewables', 'Wind']]

In [31]:
df_nyiso

,CAPITL,Dual Fuel,Hydro,Natural Gas,Nuclear,Other Fossil Fuels,Other Renewables,Wind
date_time,,,,,,,,
2015-12-09 00:00:00,-1.260000,2645.272727,1854.181818,1918.000000,4794.909091,155.909091,316.363636,268.818182
2015-12-09 01:00:00,1.706667,2478.416667,1661.000000,1871.750000,4794.083333,201.416667,317.416667,245.583333
2015-12-09 02:00:00,-8.001667,2436.583333,1767.416667,1869.250000,4792.916667,203.333333,313.166667,220.333333
2015-12-09 03:00:00,-1.356667,2522.583333,1752.250000,1961.916667,4795.750000,205.250000,317.500000,223.250000
2015-12-09 04:00:00,6.525833,2428.583333,1898.166667,2065.416667,4793.583333,203.833333,315.916667,235.250000
...,...,...,...,...,...,...,...,...
2020-10-31 02:00:00,20.914286,2229.214286,2348.714286,2344.500000,4395.928571,1.142857,229.214286,31.928571
2020-10-31 03:00:00,21.752500,2129.416667,2327.166667,2278.083333,4395.333333,1.166667,228.833333,73.416667
2020-10-31 04:00:00,19.983333,2209.083333,2348.916667,2262.250000,4394.083333,1.166667,227.500000,87.166667
2020-10-31 05:00:00,11.406667,2214.833333,2943.833333,2225.750000,4397.000000,1.333333,218.166667,72.416667
2020-10-31 06:00:00,8.522000,2135.800000,3083.400000,2436.000000,4397.600000,1.000000,226.600000,52.200000

In [32]:
df_nyiso['vre'] = df_nyiso.Wind
df_nyiso['output'] = df_nyiso[['Dual Fuel', 'Hydro', 'Natural Gas', 'Nuclear',
       'Other Fossil Fuels', 'Other Renewables', 'Wind']].sum(axis=1)
df_nyiso['perc_renew']  = df_nyiso.vre/df_nyiso.output

In [33]:
# df_nyiso['perc_renew'] = df_nyiso.Wind/df_nyiso[['Dual Fuel', 'Hydro', 'Natural Gas', 'Nuclear',
#        'Other Fossil Fuels', 'Other Renewables', 'Wind']].sum(axis=1)

In [34]:
df_nyiso = df_nyiso.reset_index()
df_nyiso = df_nyiso.rename(columns={'CAPITL':'sys_prc', 'date_time': 'Date'})

In [35]:
df_nyiso.to_csv('hourly_data/nyiso.csv')

## pjm

In [36]:
df_pjm = pd.read_csv('originals/PJM_GEN_LMP.csv')

In [37]:
#remove nulls
df_pjm = df_pjm[~pd.isnull(df_pjm['Coal'])]

In [38]:
df_pjm['vre'] = df_pjm[['Solar', 'Wind']].sum(axis=1)
df_pjm['output'] = df_pjm[['Coal', 'Gas', 'Hydro', 'Multiple Fuels', 'Nuclear', 'Oil',
       'Other', 'Other Renewables', 'Solar', 'Storage', 'Wind', 'Flywheel']].sum(axis=1)
df_pjm['perc_renew'] = df_pjm['vre']/df_pjm['output']

In [39]:
df_pjm.columns

Index(['Unnamed: 0', 'Date', 'Coal', 'Gas', 'Hydro', 'Multiple Fuels',
       'Nuclear', 'Oil', 'Other', 'Other Renewables', 'Solar', 'Storage',
       'Wind', 'Flywheel', 'EASTERN HUB', 'WEST INT HUB', 'WESTERN HUB',
       'NEW JERSEY HUB', 'CHICAGO GEN HUB', 'CHICAGO HUB', 'N ILLINOIS HUB',
       'AEP GEN HUB', 'AEP-DAYTON HUB', 'OHIO HUB', 'DOMINION HUB',
       'ATSI GEN HUB', 'system_energy_price_rt', 'vre', 'output',
       'perc_renew'],
      dtype='object')

In [40]:
# df_pjm['perc_renew'] = df_pjm[['Solar', 'Wind']].sum(axis=1)/df_pjm[['Coal', 'Gas', 'Hydro', 'Multiple Fuels', 'Nuclear', 'Oil',
#        'Other', 'Other Renewables', 'Solar', 'Storage', 'Wind', 'Flywheel']].sum(axis=1)

In [41]:
df_pjm = df_pjm[['Date', 'Coal', 'Gas', 'Hydro', 'Multiple Fuels', 'Nuclear', 'Oil',
       'Other', 'Other Renewables', 'Solar', 'Storage', 'Wind', 'Flywheel',
       'system_energy_price_rt', 'vre', 'output', 'perc_renew']]

In [42]:
df_pjm = df_pjm.rename(columns = {'system_energy_price_rt':'sys_prc'})

In [43]:
df_pjm.sort_values(by='Date', inplace=True)

In [44]:
df_pjm.to_csv('hourly_data/pjm.csv', index=False)

In [45]:
df_pjm

,Date,Coal,Gas,Hydro,Multiple Fuels,Nuclear,Oil,Other,Other Renewables,Solar,Storage,Wind,Flywheel,sys_prc,vre,output,perc_renew
0,2016-01-01 00:00:00,16091.9,3298.2,682.9,480.9,35428.1,1.0,18468.0,644.5,0.0,0.0,2263.5,NaN,19.36,2263.5,77359.0,0.029260
1,2016-01-01 01:00:00,16103.3,2902.0,641.2,405.3,35438.9,1.0,17888.8,619.6,0.0,0.0,2366.4,NaN,16.44,2366.4,76366.5,0.030987
2,2016-01-01 02:00:00,15856.2,2913.9,622.5,397.9,35425.0,0.0,16569.7,629.2,0.0,0.0,2543.3,NaN,14.21,2543.3,74957.7,0.033930
3,2016-01-01 03:00:00,15632.0,2735.7,520.1,404.7,35442.7,0.0,16434.5,607.1,0.0,0.0,2244.9,NaN,14.57,2244.9,74021.7,0.030328
4,2016-01-01 04:00:00,15557.8,2729.9,572.8,405.0,35433.4,0.0,16242.3,645.1,0.0,0.0,2287.8,NaN,15.10,2287.8,73874.1,0.030969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26438,2018-12-30 20:00:00,24847.3,30368.0,3101.7,4.7,34784.5,208.2,31.3,496.0,4.4,0.0,4209.1,NaN,22.89,4213.5,98055.2,0.042971
26439,2018-12-30 21:00:00,23876.3,29527.7,2764.0,4.7,34833.5,210.2,31.4,509.8,4.4,0.0,4161.8,NaN,21.24,4166.2,95923.8,0.043432
26440,2018-12-30 22:00:00,22897.0,27954.7,2177.1,3.2,34825.4,211.9,31.2,502.4,4.4,0.0,4327.9,NaN,20.94,4332.3,92935.2,0.046616
26441,2018-12-30 23:00:00,21341.7,24540.7,2121.3,3.3,34830.0,210.7,31.4,515.6,4.4,0.0,4684.2,NaN,19.45,4688.6,88283.3,0.053109
26442,2018-12-31 00:00:00,20227.0,23483.5,2064.8,3.2,34845.2,210.8,30.5,524.3,4.4,0.0,4179.7,NaN,19.87,4184.1,85573.4,0.048895

## spp

In [46]:
df_spp = pd.read_csv('originals/SPP_gen_ene_2019_20.csv')

In [47]:
df_spp.columns

Index(['GMT MKT Interval', 'SPPNORTH_HUB', 'SPPSOUTH_HUB', 'Coal Market',
       'Coal Self', 'Diesel Fuel Oil Market', 'Diesel Fuel Oil Self',
       'Hydro Market', 'Hydro Self', 'Natural Gas Market', 'Natural Gas Self',
       'Nuclear Market', 'Nuclear Self', 'Solar Market', 'Solar Self',
       'Waste Disposal Services Market', 'Waste Disposal Services Self',
       'Wind Market', 'Wind Self', 'Waste Heat Market', 'Waste Heat Self',
       'Other Market', 'Other Self'],
      dtype='object')

In [48]:
df_spp

,GMT MKT Interval,SPPNORTH_HUB,SPPSOUTH_HUB,Coal Market,Coal Self,Diesel Fuel Oil Market,Diesel Fuel Oil Self,Hydro Market,Hydro Self,Natural Gas Market,...,Solar Market,Solar Self,Waste Disposal Services Market,Waste Disposal Services Self,Wind Market,Wind Self,Waste Heat Market,Waste Heat Self,Other Market,Other Self
0,2019-01-01 06:05:00,2.9815,2.9815,401.5,9430.0,0.0,0.0,41.5,578.8,2979.5,...,0.0,0.0,0.0,12.8,0.0,14215.0,0.0,0.0,0.0,33.1
1,2019-01-01 06:10:00,-6.3226,-6.3226,406.2,9413.6,0.0,0.0,41.1,577.7,3034.6,...,0.0,0.0,0.0,12.9,0.0,14109.8,0.0,0.0,0.0,33.5
2,2019-01-01 06:15:00,5.3916,5.3916,398.7,9305.7,0.0,0.0,41.3,579.7,2948.7,...,0.0,0.0,0.0,12.6,0.0,14220.7,0.0,0.0,0.0,33.3
3,2019-01-01 06:20:00,3.8383,3.8383,394.2,9280.2,0.0,0.0,41.3,578.6,2925.8,...,0.0,0.0,0.0,12.6,0.0,14237.4,0.0,0.0,0.0,32.7
4,2019-01-01 06:25:00,-0.7611,-0.7611,391.4,9279.7,0.0,0.0,41.1,577.3,2932.9,...,0.0,0.0,0.0,12.6,0.0,14524.8,0.0,0.0,0.0,32.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204702,2020-12-14 05:40:00,17.2776,17.2777,9113.6,4398.1,0.0,0.0,37.9,365.8,7036.9,...,0.0,0.0,0.0,8.6,0.0,6716.7,0.0,0.0,0.0,32.7
204703,2020-12-14 05:45:00,17.5547,17.5547,9071.8,4419.3,0.0,0.0,38.0,364.1,7067.3,...,0.0,0.0,0.0,8.6,0.0,6623.3,0.0,0.0,0.0,32.8
204704,2020-12-14 05:50:00,17.5355,17.5355,9081.7,4416.2,0.0,0.0,37.9,364.9,7107.9,...,0.0,0.0,0.0,8.6,0.0,6520.4,0.0,0.0,0.0,33.0
204705,2020-12-14 05:55:00,17.6261,17.6260,9095.9,4450.4,0.0,0.0,37.8,365.6,7117.4,...,0.0,0.0,0.0,8.6,0.0,6340.3,0.0,0.0,0.0,32.3
204706,2020-12-14 06:00:00,17.9828,17.9829,7828.9,5767.5,0.0,0.0,37.9,368.5,7168.9,...,0.0,0.0,0.0,8.6,0.0,6208.9,0.0,0.0,0.0,32.6

In [49]:
df_spp['GMT MKT Interval'] = pd.to_datetime(df_spp['GMT MKT Interval'])

In [50]:
df_spp = df_spp.rename(columns = {'GMT MKT Interval':'Date'})

In [51]:
df_spp

,Date,SPPNORTH_HUB,SPPSOUTH_HUB,Coal Market,Coal Self,Diesel Fuel Oil Market,Diesel Fuel Oil Self,Hydro Market,Hydro Self,Natural Gas Market,...,Solar Market,Solar Self,Waste Disposal Services Market,Waste Disposal Services Self,Wind Market,Wind Self,Waste Heat Market,Waste Heat Self,Other Market,Other Self
0,2019-01-01 06:05:00,2.9815,2.9815,401.5,9430.0,0.0,0.0,41.5,578.8,2979.5,...,0.0,0.0,0.0,12.8,0.0,14215.0,0.0,0.0,0.0,33.1
1,2019-01-01 06:10:00,-6.3226,-6.3226,406.2,9413.6,0.0,0.0,41.1,577.7,3034.6,...,0.0,0.0,0.0,12.9,0.0,14109.8,0.0,0.0,0.0,33.5
2,2019-01-01 06:15:00,5.3916,5.3916,398.7,9305.7,0.0,0.0,41.3,579.7,2948.7,...,0.0,0.0,0.0,12.6,0.0,14220.7,0.0,0.0,0.0,33.3
3,2019-01-01 06:20:00,3.8383,3.8383,394.2,9280.2,0.0,0.0,41.3,578.6,2925.8,...,0.0,0.0,0.0,12.6,0.0,14237.4,0.0,0.0,0.0,32.7
4,2019-01-01 06:25:00,-0.7611,-0.7611,391.4,9279.7,0.0,0.0,41.1,577.3,2932.9,...,0.0,0.0,0.0,12.6,0.0,14524.8,0.0,0.0,0.0,32.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204702,2020-12-14 05:40:00,17.2776,17.2777,9113.6,4398.1,0.0,0.0,37.9,365.8,7036.9,...,0.0,0.0,0.0,8.6,0.0,6716.7,0.0,0.0,0.0,32.7
204703,2020-12-14 05:45:00,17.5547,17.5547,9071.8,4419.3,0.0,0.0,38.0,364.1,7067.3,...,0.0,0.0,0.0,8.6,0.0,6623.3,0.0,0.0,0.0,32.8
204704,2020-12-14 05:50:00,17.5355,17.5355,9081.7,4416.2,0.0,0.0,37.9,364.9,7107.9,...,0.0,0.0,0.0,8.6,0.0,6520.4,0.0,0.0,0.0,33.0
204705,2020-12-14 05:55:00,17.6261,17.6260,9095.9,4450.4,0.0,0.0,37.8,365.6,7117.4,...,0.0,0.0,0.0,8.6,0.0,6340.3,0.0,0.0,0.0,32.3
204706,2020-12-14 06:00:00,17.9828,17.9829,7828.9,5767.5,0.0,0.0,37.9,368.5,7168.9,...,0.0,0.0,0.0,8.6,0.0,6208.9,0.0,0.0,0.0,32.6

In [52]:
df_spp['hour'] = df_spp.Date.dt.hour
df_spp['date'] = df_spp.Date.dt.date
df_spp['date_time']  = pd.to_datetime([str(i)  + ' ' + str(j) + ':00:00' for i,j in zip(df_spp['date'], df_spp['hour'])])
df_spp = df_spp.groupby(by = ['date_time']).mean()

In [53]:
df_spp['vre'] = df_spp[[ 'Solar Self', 'Wind Self']].sum(axis=1)
df_spp['output'] = df_spp[[
       'Coal Self', 'Diesel Fuel Oil Self',
      'Hydro Self',  'Natural Gas Self',
 'Nuclear Self' , 'Solar Self',
 'Waste Disposal Services Self',
 'Wind Self', 'Waste Heat Self',
     'Other Self']].sum(axis=1)

df_spp['perc_renew'] = df_spp['vre']/df_spp['output']

In [54]:
# df_spp['perc_renew'] = df_spp[['Solar Market', 'Solar Self', 'Wind Market', 'Wind Self',]].sum(axis=1) / df_spp[['Coal Market',
#        'Coal Self', 'Diesel Fuel Oil Market', 'Diesel Fuel Oil Self',
#        'Hydro Market', 'Hydro Self', 'Natural Gas Market', 'Natural Gas Self',
#        'Nuclear Market', 'Nuclear Self', 'Solar Market', 'Solar Self',
#        'Waste Disposal Services Market', 'Waste Disposal Services Self',
#        'Wind Market', 'Wind Self', 'Waste Heat Market', 'Waste Heat Self',
#        'Other Market', 'Other Self']].sum(axis=1)

In [55]:
df_spp

,SPPNORTH_HUB,SPPSOUTH_HUB,Coal Market,Coal Self,Diesel Fuel Oil Market,Diesel Fuel Oil Self,Hydro Market,Hydro Self,Natural Gas Market,Natural Gas Self,...,Wind Market,Wind Self,Waste Heat Market,Waste Heat Self,Other Market,Other Self,hour,vre,output,perc_renew
date_time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 06:00:00,5.478755,5.478736,391.736364,9263.354545,0.0,0.0,41.200000,578.336364,2926.836364,860.563636,...,0.0,14380.145455,0.0,0.0,0.0,32.763636,6,14380.145455,27162.781818,0.529406
2019-01-01 07:00:00,12.893717,12.893717,391.458333,9252.641667,0.0,0.0,40.850000,576.875000,2979.966667,860.025000,...,0.0,14775.725000,0.0,0.0,0.0,32.700000,7,14775.725000,27546.391667,0.536394
2019-01-01 08:00:00,12.287325,12.287325,387.533333,9371.925000,0.0,0.0,58.791667,556.925000,2899.141667,862.933333,...,0.0,14559.375000,0.0,0.0,0.0,32.716667,8,14559.708333,27432.075000,0.530755
2019-01-01 09:00:00,8.562617,8.562625,392.083333,9295.550000,0.0,0.0,58.041667,556.208333,2834.033333,861.708333,...,0.0,14204.933333,0.0,0.0,0.0,32.675000,9,14204.933333,26998.941667,0.526129
2019-01-01 10:00:00,14.750133,14.750108,401.008333,9597.675000,0.0,0.0,77.825000,536.233333,2902.650000,917.516667,...,0.0,14059.650000,0.0,0.0,0.0,32.650000,10,14060.016667,27193.825000,0.517030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-14 02:00:00,19.756175,19.756150,9529.508333,4524.641667,0.0,0.0,95.350000,758.466667,7449.950000,543.825000,...,0.0,9310.316667,0.0,0.0,0.0,32.716667,2,9310.316667,17212.133333,0.540916
2020-12-14 03:00:00,25.004517,25.004508,9693.641667,4616.641667,0.0,0.0,55.475000,697.933333,7732.300000,612.533333,...,0.0,8374.333333,0.0,0.0,0.0,32.566667,3,8374.333333,16374.208333,0.511434
2020-12-14 04:00:00,20.424083,20.424100,9526.200000,4477.300000,0.0,0.0,73.441667,509.908333,7470.408333,547.716667,...,0.0,7552.058333,0.0,0.0,0.0,32.658333,4,7552.058333,15158.875000,0.498194
2020-12-14 05:00:00,17.847792,17.847783,9206.325000,4439.316667,0.0,0.0,39.408333,396.766667,7106.050000,546.808333,...,0.0,6750.166667,0.0,0.0,0.0,32.683333,5,6750.166667,14204.341667,0.475219
2020-12-14 06:00:00,17.982800,17.982900,7828.900000,5767.500000,0.0,0.0,37.900000,368.500000,7168.900000,573.800000,...,0.0,6208.900000,0.0,0.0,0.0,32.600000,6,6208.900000,14988.500000,0.414244

In [56]:
df_spp = df_spp.drop(columns=['SPPNORTH_HUB'])

In [57]:
df_spp = df_spp.reset_index()
df_spp = df_spp.rename(columns={'SPPSOUTH_HUB':'sys_prc', 'date_time': 'Date'})

In [58]:
df_spp.to_csv('hourly_data/spp.csv')

## miso

In [59]:
df_miso = pd.read_csv('originals/df_MISO_ENE_GEN_2015_19.csv')

In [60]:
df_miso.columns

Index(['Unnamed: 0', 'Date', 'COAL', 'GAS', 'HYDRO', 'NUCLEAR', 'OTHER',
       'WIND', 'ARKANSAS.HUB', 'ILLINOIS.HUB', 'INDIANA.HUB', 'LOUISIANA.HUB',
       'MICHIGAN.HUB', 'MINN.HUB', 'MS.HUB', 'TEXAS.HUB'],
      dtype='object')

In [61]:
df_miso

,Unnamed: 0,Date,COAL,GAS,HYDRO,NUCLEAR,OTHER,WIND,ARKANSAS.HUB,ILLINOIS.HUB,INDIANA.HUB,LOUISIANA.HUB,MICHIGAN.HUB,MINN.HUB,MS.HUB,TEXAS.HUB
0,0,2015-08-01 00:00:00,40242.2,13734.2,748.2,12912.5,2900.6,3513.5,20.28,20.28,20.29,20.28,20.28,20.28,NaN,20.27
1,1,2015-08-01 01:00:00,36515.6,13073.7,730.3,12926.5,2844.4,3616.7,19.31,19.31,19.31,19.31,19.31,19.31,NaN,19.31
2,2,2015-08-01 02:00:00,34862.0,12741.8,731.3,12936.1,2791.4,3477.2,18.25,18.25,18.25,18.25,18.25,18.25,NaN,18.25
3,3,2015-08-01 03:00:00,33782.2,12511.1,730.5,12939.6,2723.1,3106.2,14.70,14.70,14.70,14.70,14.70,14.70,NaN,14.70
4,4,2015-08-01 04:00:00,33923.7,12480.6,722.6,12949.2,2752.3,3293.7,17.22,17.22,17.22,17.22,17.22,17.22,NaN,17.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37579,37579,2019-11-13 19:00:00,33292.5,30108.3,1713.1,12588.3,537.5,12119.5,32.09,32.09,32.09,32.09,32.10,32.09,32.08,32.09
37580,37580,2019-11-13 20:00:00,33046.6,30131.5,1603.3,12592.0,549.9,12189.6,27.57,27.57,27.57,27.57,27.57,27.58,27.57,27.56
37581,37581,2019-11-13 21:00:00,32569.7,30006.3,1347.2,12592.9,521.3,11879.8,28.02,28.02,28.02,28.01,28.02,28.02,28.02,28.01
37582,37582,2019-11-13 22:00:00,32230.2,29305.2,859.4,12605.3,496.1,11341.6,25.75,25.74,25.74,25.75,25.75,25.74,25.75,25.75
37583,37583,2019-11-13 23:00:00,31503.5,26673.8,808.9,12612.7,476.7,11315.7,23.11,23.12,23.11,23.11,23.12,23.12,23.12,23.12

In [62]:
df_miso = df_miso.drop(columns= ['Unnamed: 0', 'ILLINOIS.HUB', 'INDIANA.HUB', 'LOUISIANA.HUB',
       'MICHIGAN.HUB', 'MINN.HUB', 'MS.HUB', 'TEXAS.HUB'])

In [63]:
df_miso = df_miso.rename(columns={'ARKANSAS.HUB': 'sys_prc'})

In [64]:
df_miso['vre'] = df_miso.WIND
df_miso['output'] = df_miso[['COAL', 'GAS', 'HYDRO', 'NUCLEAR', 'OTHER',
       'WIND']].sum(axis=1)
df_miso['perc_renew'] = df_miso['vre']/df_miso['output']

In [65]:
df_miso['perc_renew'] = df_miso.WIND/df_miso[['COAL', 'GAS', 'HYDRO', 'NUCLEAR', 'OTHER',
       'WIND']].sum(axis=1)

In [66]:
df_miso.to_csv('hourly_data/miso.csv', index=False)

#### MERGE ALL

In [67]:
df_nyiso.Date = pd.to_datetime(df_nyiso.Date )

df_isone.Date = pd.to_datetime(df_isone.Date )

df_spp.Date = pd.to_datetime(df_spp.Date )

df_miso.Date = pd.to_datetime(df_miso.Date)

df_pjm.Date = pd.to_datetime(df_pjm.Date)

df_caiso.Date = pd.to_datetime(df_caiso.Date )

### CURRENT TIMRE ZONE TO LOCAL TIME ZONES
# ISONE - UTC --> EST
# NYISO - EST --> EST
# CAISO - GMT --> PST
# SPP - GMT --> CST
# PJM - EPT (EST/EDT) --> EST
# MISO - EST --> CST

In [68]:
#localize and convert
# df_isone['Date'] = df_isone.Date.dt.tz_localize('UTC').dt.tz_convert('EST').dt.tz_localize(None)
# df_nyiso['Date'] = df_nyiso.Date.dt.tz_localize(None)
# df_caiso['Date'] =  df_caiso.Date.dt.tz_localize('GMT').dt.tz_convert('US/Pacific').dt.tz_localize(None)
# df_spp['Date'] = df_spp.Date.dt.tz_localize('GMT').dt.tz_convert('US/Central').dt.tz_localize(None)
# df_pjm['Date'] = df_pjm.Date.dt.tz_localize(None)
# df_miso['Date'] = df_miso.Date.dt.tz_localize('EST').dt.tz_convert('US/Central').dt.tz_localize(None)

In [69]:
# localize and convert
df_isone['Date'] = df_isone.Date.dt.tz_localize('UTC').dt.tz_convert('EST').dt.tz_localize(None)
df_nyiso['Date'] = df_nyiso.Date.dt.tz_localize(None)
df_caiso['Date'] =  df_caiso.Date.dt.tz_localize('GMT').dt.tz_convert('Etc/GMT+8').dt.tz_localize(None)
df_spp['Date'] = df_spp.Date.dt.tz_localize('GMT').dt.tz_convert('Etc/GMT+6').dt.tz_localize(None)
df_pjm['Date'] = df_pjm.Date.dt.tz_localize(None)
df_miso['Date'] = df_miso.Date.dt.tz_localize('EST').dt.tz_convert('Etc/GMT+6').dt.tz_localize(None)

In [70]:
df_pjm['prc_vol'] = df_pjm.sys_prc.ewm(alpha=0.94, adjust=True).std()
df_miso['prc_vol'] = df_miso.sys_prc.ewm(alpha=0.94, adjust=True).std()
df_isone['prc_vol'] = df_isone.sys_prc.ewm(alpha=0.94, adjust=True).std()
df_nyiso['prc_vol'] = df_nyiso.sys_prc.ewm(alpha=0.94, adjust=True).std()
df_spp['prc_vol'] = df_spp.sys_prc.ewm(alpha=0.94, adjust=True).std()
df_caiso['prc_vol'] = df_caiso.sys_prc.ewm(alpha=0.94, adjust=True).std()

In [71]:
df_pjm['operator'] = 'PJM'
df_miso['operator'] = 'MISO'
df_isone['operator'] = 'ISONE'
df_caiso['operator'] = 'CAISO'
df_spp['operator'] = 'SPP'
df_nyiso['operator'] = 'NYISO'

In [72]:
df_full = pd.concat([df_pjm[['Date', 'operator', 'sys_prc', 'vre', 'output', 'perc_renew', 'prc_vol']], 
            df_miso[['Date', 'operator', 'sys_prc','vre', 'output', 'perc_renew', 'prc_vol']],
            df_isone[['Date', 'operator', 'sys_prc', 'vre', 'output','perc_renew', 'prc_vol']],
            df_nyiso[['Date', 'operator', 'sys_prc','vre', 'output', 'perc_renew', 'prc_vol']],
            df_spp[['Date','operator',  'sys_prc', 'vre', 'output','perc_renew', 'prc_vol']],
            df_caiso[['Date','operator',  'sys_prc', 'vre', 'output','perc_renew', 'prc_vol']]])

In [73]:
df_full = df_full.rename(columns={'Date':'date_time', 'sys_prc':'price', 'perc_renew': 'vre_frac', 'prc_vol': 'EWMA_vol'})

In [74]:
df_full.reset_index(drop=True, inplace=True)

In [75]:
df_full['hour'] = df_full.date_time.dt.hour

In [76]:
df_full['weekend'] = 'Y'
df_full['weekend'][~df_full.date_time.dt.dayofweek.isin([5,6])] = 'N'

<ipython-input-76-9877c611fe18>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full['weekend'][~df_full.date_time.dt.dayofweek.isin([5,6])] = 'N'

In [77]:
spring = range(80, 172)
summer = range(172, 264)
fall = range(264, 355)
# winter = everything else


doy = df_full.date_time.dt.dayofyear
df_full['season'] = 'winter'
df_full['season'][doy.isin(list(spring))] = 'spring'
df_full['season'][doy.isin(list(summer))] = 'summer'
df_full['season'][doy.isin(list(fall))] = 'fall'

<ipython-input-77-44a1dd013423>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full['season'][doy.isin(list(spring))] = 'spring'
<ipython-input-77-44a1dd013423>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full['season'][doy.isin(list(summer))] = 'summer'
<ipython-input-77-44a1dd013423>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full['season'][doy.isin(list(fall))] = 'fall'

In [78]:
df_full.to_csv('hourly_data_localtime.csv', index=False)

#### DAILY DATA

In [79]:
df_isone['date_time'] = df_isone.Date.dt.date
df_ISONE = df_isone.groupby('date_time').sum()[[ 'vre', 'output']]
df_ISONE['price'] = df_isone.groupby('date_time').apply(lambda x: np.average(x.sys_prc, weights=x.output))
df_ISONE = df_ISONE.reset_index()
df_ISONE['vre_frac'] = df_ISONE.vre/df_ISONE.output
df_ISONE['prc_vol'] = df_ISONE.price.ewm(alpha=0.94, adjust=True).std()
df_ISONE['operator'] = 'ISONE'

df_caiso['date_time'] = df_caiso.Date.dt.date
df_CAISO = df_caiso.groupby('date_time').sum()[[ 'vre', 'output']]
df_CAISO['price'] = df_caiso.groupby('date_time').apply(lambda x: np.average(x.sys_prc, weights=x.output))
df_CAISO = df_CAISO.reset_index()
df_CAISO['vre_frac'] = df_CAISO.vre/df_CAISO.output
df_CAISO['prc_vol'] = df_CAISO.price.ewm(alpha=0.94, adjust=True).std()
df_CAISO['operator'] = 'CAISO'

df_miso['date_time'] = df_miso.Date.dt.date
df_MISO = df_miso.groupby('date_time').sum()[[ 'vre', 'output']]
df_MISO['price'] = df_miso.groupby('date_time').apply(lambda x: np.average(x.sys_prc, weights=x.output))
df_MISO = df_MISO.reset_index()
df_MISO['vre_frac'] = df_MISO.vre/df_MISO.output
df_MISO['prc_vol'] = df_MISO.price.ewm(alpha=0.94, adjust=True).std()
df_MISO['operator'] = 'MISO'

df_nyiso['date_time'] = df_nyiso.Date.dt.date
df_NYISO = df_nyiso.groupby('date_time').sum()[[ 'vre', 'output']]
df_NYISO['price'] = df_nyiso.groupby('date_time').apply(lambda x: np.average(x.sys_prc, weights=x.output))
df_NYISO = df_NYISO.reset_index()
df_NYISO['vre_frac'] = df_NYISO.vre/df_NYISO.output
df_NYISO['prc_vol'] = df_NYISO.price.ewm(alpha=0.94, adjust=True).std()
df_NYISO['operator'] = 'NYISO'

df_spp['date_time'] = df_spp.Date.dt.date
df_SPP = df_spp.groupby('date_time').sum()[[ 'vre', 'output']]
df_SPP['price'] = df_spp.groupby('date_time').apply(lambda x: np.average(x.sys_prc, weights=x.output))
df_SPP = df_SPP.reset_index()
df_SPP['vre_frac'] = df_SPP.vre/df_SPP.output
df_SPP['prc_vol'] = df_SPP.price.ewm(alpha=0.94, adjust=True).std()
df_SPP['operator'] = 'SPP'

df_pjm['date_time'] = df_pjm.Date.dt.date
df_PJM = df_pjm.groupby('date_time').sum()[[ 'vre', 'output']]
df_PJM['price'] = df_pjm.groupby('date_time').apply(lambda x: np.average(x.sys_prc, weights=x.output))
df_PJM = df_PJM.reset_index()
df_PJM['vre_frac'] = df_PJM.vre/df_PJM.output
df_PJM['prc_vol'] = df_PJM.price.ewm(alpha=0.94, adjust=True).std()
df_PJM['operator'] = 'PJM'

In [80]:
df_daily_full = pd.concat([df_PJM, df_MISO, df_ISONE, df_NYISO, df_SPP, df_CAISO])

In [81]:
df_daily_full.date_time = pd.to_datetime(df_daily_full.date_time)

In [82]:
df_daily_full.date_time.reset_index(drop=True, inplace=True)

In [83]:
df_daily_full['weekend'] = 'Y'
df_daily_full['weekend'][~df_daily_full.date_time.dt.dayofweek.isin([5,6])] = 'N'

<ipython-input-83-1f0d88044018>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_daily_full['weekend'][~df_daily_full.date_time.dt.dayofweek.isin([5,6])] = 'N'

In [84]:
spring = range(80, 172)
summer = range(172, 264)
fall = range(264, 355)
# winter = everything else


doy = df_daily_full.date_time.dt.dayofyear
df_daily_full['season'] = 'winter'
df_daily_full['season'][doy.isin(list(spring))] = 'spring'
df_daily_full['season'][doy.isin(list(summer))] = 'summer'
df_daily_full['season'][doy.isin(list(fall))] = 'fall'

<ipython-input-84-7b1fa97b78fc>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_daily_full['season'][doy.isin(list(spring))] = 'spring'
<ipython-input-84-7b1fa97b78fc>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_daily_full['season'][doy.isin(list(summer))] = 'summer'
<ipython-input-84-7b1fa97b78fc>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_daily_full['season'][doy.isin(list(fall))] = 'fall'

In [85]:
df_daily_full = df_daily_full.rename(columns={'prc_vol': 'EMWA_vol'})

In [86]:
df_daily_full.to_csv('daily_data_localtime.csv', index=False)

#### ADD PRICE VOLATILITY TO DETRENDED DATA

In [16]:
df_daily_detrend = pd.read_csv('daily_corrected.csv')
df_daily_detrend.date_time = pd.to_datetime(df_daily_detrend.date_time)
df_hourly_detrend = pd.read_csv('hourly_detrended.csv')
df_hourly_detrend.date_time = pd.to_datetime(df_hourly_detrend.date_time)

In [17]:
def get_daily(y):
    df_isone = df_daily_detrend[df_daily_detrend['operator']== y]
    df_isone['EWMA_vol'] = df_isone.price.ewm(alpha=0.94, adjust=True).std()
    return df_isone

In [18]:
def get_hourly(y):
    df_isone = df_hourly_detrend[df_hourly_detrend['operator']== y]
    df_isone['EWMA_vol'] = df_isone.price.ewm(alpha=0.94, adjust=True).std()
    return df_isone

In [19]:
x = []
for i in df_daily_detrend.operator.unique():
    x.append(get_daily(i))
df_detrend_daily_EWMA = pd.concat(x)
df_detrend_daily_EWMA.to_csv('daily_corrected_EWMA.csv', index=False)

<ipython-input-17-2ef8f1d6c87a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_isone['EWMA_vol'] = df_isone.price.ewm(alpha=0.94, adjust=True).std()

In [20]:
x = []
for i in df_hourly_detrend.operator.unique():
    x.append(get_hourly(i))
df_detrend_hourly_EWMA = pd.concat(x)
df_detrend_hourly_EWMA.to_csv('hourly_detrended_EWMA.csv', index=False)

<ipython-input-18-8cbc2434797e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_isone['EWMA_vol'] = df_isone.price.ewm(alpha=0.94, adjust=True).std()

#### CONVERT DETRENDED HOURLY DATA TO DAILY

df_detrend = pd.read_csv('hourly_detrended.csv')

df_detrend.date_time = pd.to_datetime(df_detrend.date_time)

def get_daily(y):
    df_isone = df_detrend[df_detrend['operator']== y]
    df_isone['date_time'] = df_isone.date_time.dt.date
    df_ISONE = df_isone.groupby('date_time').sum()[[ 'vre', 'output']]
    df_ISONE['residual'] = df_isone.groupby('date_time').apply(lambda x: np.average(x.residuals, weights=x.output))
    df_ISONE = df_ISONE.reset_index()
    df_ISONE['vre_frac'] = df_ISONE.vre/df_ISONE.output
    df_ISONE['operator'] = y
    return df_ISONE

x = []
for i in df_detrend.operator.unique():
    x.append(get_daily(i))
df_detrended_daily = pd.concat(x)
df_detrended_daily.reset_index(inplace=True, drop=True)
df_detrended_daily['weekend'] = 'Y'
df_detrended_daily['weekend'][~pd.to_datetime(df_detrended_daily.date_time, errors = 'coerce').dt.dayofweek.isin([5,6])] = 'N'

df_detrended_daily.to_csv('daily_detrended.csv', index=False)